# Dependências do Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Variáveis de ambiente e arquivos sensíveis
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos temporários e do sistema operacional
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
thumbs.db
ehthumbs.db

# Configurações de IDEs e editores de código
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Arquivos de Build e Pacotes
dist/
build/
*.zip
*.tar.gz